@import '../../styles/vars';

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    text-decoration: none;
    color: $black;
    background-color: $background;

    border: none;
    border-radius: 5px;
    font-size: 20px;

    box-shadow: 0 0 10px 3px $black;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(120%);
    }
  }
}
